# Exclude files and directories for Rasa chatbot
# rasa/models
rasa-chatbot/.*
!rasa-chatbot/.env
# rasa/data

# Exclude files and directories for Rasa action server
# rasa-actions/models
rasa-actions/logs
rasa-actions/__pycache__
rasa-actions/*.pyc
# rasa-actions/Dockerfile
rasa-actions/.*
!rasa-actions/.env
# Exclude files and directories for Flask app
flask-app/__pycache__
flask-app/*.pyc
flask-app/.pytest_cache
flask-app/.coverage
flask-app/.*
flask-app/instances
!flask-app/.env
.*
!.env